@import "src/scss/index.scss";

.product-grid {
  overflow-y: auto;
  height: 90vh;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 32px;

  .body-semibold {
    color: $neutral05;
    font-size: 25px;
    padding-top: 100px;
  }
}
