@import "scss/index.scss";

.white-navbar {
  height: 73px;
  background-color: $white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 179px;
}

.app-logo img {
  width: 163px;
  height: 56px;
}
