@import "src/scss/index.scss";

.add-item-form-container {
    @include flex-container(column, center, center);
    max-width: 738px;
    border: 1px solid $neutral09;
    margin: auto;
    padding: 32px;

    .form {
        @include flex-container(column, center, center);
        width: 548px;
        margin-bottom: 32px;

        .form-header {
            margin-bottom: 64px;
        }

        .input-field {
            width: 100%;
            padding-bottom: 32px;

            input {
                width: 100%;
            }
        }
    }
}

.form-navigation {
    @include flex-container(row, space-between, center);
    width: 224px;
    gap: 10px;
    margin: 50px auto;

    hr {
        width: 10px;
        flex-basis: 100%;
        border: 1px solid $neutral09;

        &:last-child {
            display: none;
        }
    }

    .circle {
        min-width: 16px;
        min-height: 16px;
        border-radius: 50%;

        &.active {
            background-color: $primary;
        }

        &.inactive {
            border: 1px solid $primary;
        }
    }
}
