@import "src/scss/index.scss";

.product-card {
  width: 262px;
  height: 337px;

  .img-container {
    width: 262px;
    height: 262px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .product-info {
    @include flex-column;
    padding: 15px 0;
    gap: 8px;
    align-items: flex-start;

    h5 {
      margin: 0;
      color: $neutral00;
    }

    .body-medium {
      color: $neutral05;
    }

    .body-bold {
      color: $primary;
    }
  }
}
