@import "src/scss/index.scss"; 

.my-account-options-container {
    width: 100%;

    .my-account-tabs {
        @include flex-container(row, space-between);
        width: 100%;
        padding-bottom: 64px;
    
        .tab-options {
            @include flex-container(row, flex-start, center);
            gap: 16px;
    
            .tab {
                @include flex-container(row, center, center);
                color: $neutral00;
                width: 134px;
                padding: 16px 24px;
                gap: 16px;
                border: 1px solid $neutral09;
    
                &.active {
                    color: $white;
                    background-color: $primary;
                    border: none;
                }

                &:hover {
                    cursor: pointer;
                }
            }
        }

        .add-item-button {
            position: relative;

            button {
                width: 262px;
                padding: 16px 32px;
            }

            span {
                text-decoration: underline;
                font-size: 14px;
                position: absolute;
                right: 0;
                cursor: pointer;
            }
        }

        .load-more-btn {
            margin-top: 20px;
            button {
                width: 300px;
                padding: 16px 0;
            }
        }
    }
}

.csv-modal {
    @include flex-container(column, center, center);
    gap: 32px;
    background-color: $white;
    margin: 0 auto;
    padding: 32px;
    max-width: 500px;
    position: relative;
    top: 30%;

    .error-message {
        color: $error;
        font-size: 14px;
    }

    .csv-modal-content {
        @include flex-container(column, center, center);
        gap: 32px;
        width: 100%;
    }

    .close-icon {
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
    }

    .file-uploader {
        @include flex-container(column, center, center);
        border: 2px dashed $primary;
        font-family: $font-family-lato;
        padding: 12px;
        min-height: 60px;
        
        span {
            font-size: 14px;
            color: $neutral00;
        }

        svg {
            display: none;
        }
    }

    .file-upload-span {
        text-decoration: underline;
    }
}

.csv-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75); 
}
