@import "src/scss/index.scss";

.home-container {
  margin: 40px auto 0 auto;

  .home-upper {
    @include flex-row;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;

    .categories {
      flex: 0 0 262px;

      .categories-heading {
        color: $primary;
        padding-bottom: 26px;
        text-transform: uppercase;
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }

      li {
        margin-bottom: 10px;
        cursor: pointer;

        &:after {
          content: "";
          display: block;
          height: 1px;
          width: 100%;
          background-color: $neutral09;
          margin-top: 10px;
        }
      }
    }

    .highlighted-product {
      @include flex-row;
      align-items: flex-start;
      width: 739px;
      height: 420px;
      flex: 1;

      .product-image {
        height: 100%;

        img {
          max-height: 100%;
          width: 357px;
          object-fit: cover;
        }
      }

      .product-container {
        @include flex-row;
        justify-content: center;
        gap: 36px;
        height: 420px;
        flex: 1;

        .product-info {
          @include flex-column;
          width: 346px;
          gap: 16px;

          p {
            margin: 0;
            color: $neutral05;
          }

          .product-name {
            color: $neutral00;
          }

          .price {
            color: $primary;
          }
        }
      }
    }
  }

  .products {
    margin-top: 90px;
    -ms-overflow-style: none; // for IE and Edge

    // for chrome safari and opera
    ::-webkit-scrollbar {
      display: none;
    }

    .tabs {
      @include flex-row;
      position: relative;
      align-items: center;
      gap: 64px;

      &:after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 30px;
        height: 1px;
        background-color: $neutral09;
      }

      h5,
      h6 {
        color: $neutral00;
        cursor: pointer;
      }
    }
  }
}
