@import "src/scss/index.scss";

.profile-tab-container {
    @include flex-container(column, center, center);
    gap: 64px;
    width: 100%;

    form {
        width: 100%;

        .general-information {
            width: 100%;
            border: 1px solid $neutral09;
            margin-bottom: 32px;
            overflow: auto;
    
            .general-information-header {
                color: $neutral00;
                border-bottom: 1px solid $neutral09;
                padding: 16px 0px 16px 32px;

                img {
                    height: 16px;
                    width: 16px;
                    margin-right: 16px;
                }
            }
    
            .general-information-columns {
                @include flex-container(row, space-between, center);
                padding: 64px;

                .general-information-column {
                    @include flex-container(column, center, center);
                    gap: 32px;
    
                    img {
                        width: 360px;
                        height: 360px;
                        border-radius: 50%;
                    }
    
                    .input-field {
                        width: 100%;
                    }
    
                    select {
                        width: 166px;
                        height: 64px;
                    }
                }
            }

            .collapsable-column {
                padding: 0 64px;

                .collapsable-form {
                    @include flex-container(row, flex-end, flex-end);
                    margin: 64px 0;
                    width: 100%;
                    flex-wrap: wrap;
                    gap: 20px;

                    .input-field {
                        @include flex-container(column, flex-end, flex-end);
                        flex-basis: 100%;
                        position: relative;

                        label, .error-message {
                            width: 546px;
                            text-align: left;
                        }

                        &:has(input[name="city"]), 
                        &:has(input[name="zipCode"]),
                        &:has(input[name="expirationYear"]),
                        &:has(input[name="expirationMonth"]),
                        &:has(input[name="cvv"]) {
                            flex-basis: auto;
                        }

                        &:has(input[name="city"]), 
                        &:has(input[name="zipCode"]) {
                            input {
                                width: 263px;
                            }

                            label, .error-message {
                                width: 263px;
                                min-height: 24px;
                            }

                            .error-message {
                                position: absolute;
                                padding: 0;
                                bottom: -30px;
                            }
                        }

                        &:has(input[name="expirationYear"]),
                        &:has(input[name="expirationMonth"]),
                        &:has(input[name="cvv"]) {
                            input {
                                width: 168px;
                            }

                            label, .error-message {
                                width: 168px;
                                min-height: 24px;
                            }

                            .error-message {
                                position: absolute;
                                padding: 0;
                                bottom: -30px;
                            }
                        }
                    }
                }
            }       
        }

        button {
            float: right;
            padding: 16px 32px;
        }
    }
}
