@import "src/scss/index.scss";

.checkout-container {
    @include flex-container(column, center, center);
    margin-top: 40px;

    .success-message {
        color: $success;
        margin: 20px;
    }
}
