@import "scss/index.scss";

.terms-and-conditions {
  width: 556px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: auto;

  .text-container {
    display: flex;
    flex-direction: column;
    gap: 32px;

    .body-semibold {
      color: $neutral00;
    }

    .body-regular {
      color: $neutral05;
    }
  }
}
