@import "src/scss/index.scss";

.location-form {
    width: 100%;

    .button-container {
        @include flex-container(row, space-between, center);
        width: 100%;

        .btn-navigation {
            @include flex-container(row, center, center);
            gap: 16px;
        }

        button {
            width: 130px;
        }
    }

    form {
        @include flex-container(row, center, center);
        width: 100%;
        flex-wrap: wrap;

        .input-field {
            flex-basis: 100%;
        }
        
        .input-field:has(input[name="city"]), .input-field:has(input[name="zipCode"])  {
            flex-basis: auto;
            width: 251px;
        }

        .input-field:has(input[name="city"]) {
            margin-right: 23px;
        }

        .input-field:has(input[name="zipCode"]) {
            margin-left: 23px;
        }
    }
}
